
<div ng-controller = "View1Ctrl">


<body>
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
        FB.init({
          appId      : '{your-app-id}',
          xfbml      : true,
          version    : 'v2.0'
        });
      };
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=452662824875219&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<p > 
 <br>
    This is your Birthday(mm/dd/yyyy): <input type="text" ng-model="birthdaytext" disabled = "true" /><br />
    
   	 Gender: 
	<br>
   	 <input type = "radio" name = "gender" value= "male" ng-model = "gender" disabled = "true" /> Male
   <br>
   	 <input type = "radio" name = "gender" value= "female" ng-model = "gender" disabled = "true" /> Female

 
    <br />
   
    Click this to get your Akan Day Name=><button ng-click="getday()">GetDay</button> <br />

    Day: <input type = "text" value="{{resultday}}" disabled = "true"/> <br />
    AKAN Name: <input type = "text" value="{{resultname}}" disabled = "true"/> <br />

</p>
</body>

</div>