
<div ng-controller = "View1Ctrl">


<body>
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
        FB.init({
          appId      : '{your-app-id}',
          xfbml      : true,
          version    : 'v2.0'
        });
      };
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=452662824875219&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<p >This is the partial for view 1.
{{birthdaytext}} {{date}}  
 <br>
    Enter your Birthday(dd/mm/yyyy): <input type="text" ng-model="birthdaytext" /><br />
    
   	 Gender: 
	<br>
   	 <input type = "radio" name = "gender" value= "Male" ng-model = "gender" /> Male
   <br>
   	 <input type = "radio" name = "gender" value= "Female" ng-model = "gender" /> Female

 
    <br />
   
    <button ng-click="getday()">GetDay</button>

    Day: <input type = "text" value="{{resultday}}"/> <br />
    AKAN Name: <input type = "text" value="{{resultname}}"/> <br />

</p>
</body>

</div>